/*---
---*/
/* Your custom CSS code goes here */
body {
  background-color: #536878;
  color: #e0e0e0;
}

/* More custom rules... */

// upper banner color
.masthead {
  background-color: #dddddd;
}
.greedy-nav {
  background-color: #dddddd;
}

